body{
    margin:0;
    font-family:'Cairo', sans-serif;
    background:#02131a;
}

/* الأزرار فوق */
.nav{
    position:absolute;
    top:20px;
    left:30px;
}

.nav a{
    color:white;
    text-decoration:none;
    background:#1f3c88;
    padding:10px 18px;
    margin-right:10px;
    border-radius:8px;
    transition:0.3s;
}

.nav a:hover{
    background:#162d63;
}

/* قسم التواصل */
.contact{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:50px;
}

/* عنصر التواصل */
.item{
    text-align:center;
    color:white;
    text-decoration:none; /* مهم لأن العنصر a */
}

/* الأيقونات */
.item i{
    font-size:35px;
    background:#1f3c88;

    width:70px;
    height:70px;

    line-height:70px;
    border-radius:50%;

    display:block;
    margin:auto;

    transition:0.3s;
}

/* تأثير عند المرور */
.item i:hover{
    background:#162d63;
    transform:scale(1.1);
}

.item p{
    margin-top:10px;
    color:white;
}

@media (max-width: 768px){
    .product-header{
        grid-template-columns: 1fr;
    }
}