body{
    margin:0;
    font-family:'Cairo', sans-serif;
    background:#02131a;
}

.product-page{
    width:90%;
    max-width:1200px;
    margin:40px auto;
    padding:20px;
}

/* معرض المنتجات */
.product-header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px; /* مسافة متساوية */
}

/* كل منتج */
.product{
    width:100%;
    text-align:center;
    margin-bottom:40px;
}

/* الصورة */
.product img{
    width:100%;
    max-width:500px;
    height:450px;
    object-fit:cover;
    border-radius:12px;
    display:block;
    margin:auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product img:hover{
    transform: scale(1.05);
    box-shadow: 0 12px 30px rgba(0,0,0,0.4);
}

.product p{
    color:white;
    margin-top:10px;
}

/* زر الرجوع */
.back-btn{
    position:absolute;
    top:10px;
    left:50px;
    padding:10px 18px;
    background:#1f3c88;
    color:white;
    text-decoration:none;
    border-radius:6px;
}

.back-btn:hover{
    background:#162d63;
}

h1{
    text-align:center;
    color:white;
}

/* زر تواصل */
.contact-btn{
    position:absolute;
    top:10px;
    left:150px;
    padding:10px 18px;
    background:#1f3c88;
    color:white;
    text-decoration:none;
    border-radius:6px;
}
@media (max-width: 768px){
    .product-header{
        grid-template-columns: 1fr;
    }
}