/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* الخلفية */
body {
  font-family: 'Cairo', sans-serif;
  background:linear-gradient(135deg, #0b0c10, #1f2833) ;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* الكونتينر */
body::before {
  content: "";
  position: absolute;
  width: 90%;
  max-width: 500px;
  height: 90%;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 25px;
  border: 1px solid rgba(212, 175, 55, 0.25);
  backdrop-filter: blur(12px);
  box-shadow: 
    0 0 40px rgba(0,0,0,0.7),
    inset 0 0 20px rgba(255,255,255,0.02);
  z-index: -1;
}

/* العنوان */
h1 {
  font-size: 32px;
  margin-bottom: 25px;
  color: #d4af37;
  letter-spacing: 3px;
  text-align: center;
  text-shadow: 0 0 10px rgba(212, 175, 55, 0.4);
}

/* الصورة */
img {
  width: 90%;
  max-width: 380px;
  display: block;
  margin: 0 auto 25px;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.6);
  transition: 0.4s ease;
}

/* تأثير احترافي */
img:hover {
  transform: scale(1.05);
}

/* النص */
p {
  text-align: center;
  font-size: 15px;
  color: #bfc7cf;
  line-height: 1.9;
  margin-bottom: 30px;
  padding: 0 20px;
}

/* زر الرجوع */
a {
  display: inline-block;
  text-decoration: none;
  padding: 12px 35px;
  border-radius: 30px;
  font-size: 14px;
  letter-spacing: 1px;
  border: 1px solid rgba(212, 175, 55, 0.4);
  color: #d4af37;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

/* أنيميشن الزر */
a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: #d4af37;
  transition: 0.3s;
  z-index: -1;
}

a:hover::before {
  width: 100%;
}

a:hover {
  color: #000;
}

/* توسيط الزر */
body {
  flex-direction: column;
}

/* موبايل */
@media (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  img {
    max-width: 300px;
  }

  p {
    font-size: 14px;
  }
}